<div class="justify-content-center row" style="margin-top: 60px;">
    <div class="justify-content-center row col-md-9 col-12">
        <div class="col-md-12 row">
            <mat-card class="col-md-3 col-12 justify-content-center" style="background-color: beige;">
                <b>
                    <h2 style="color: blue;text-align: center;">{{name}}</h2>
                </b>
                <div style="width: 100%;" class="justify-content-center row">
                    <button mat-raised-button class="btn btn-info">Truy Cập Trang</button>
                </div>

                <br>
                <b style="color: brown;">Số Điện Thoại: {{Phone}}</b>
            </mat-card>
            <mat-card class="col-md-9 col-12" style="background-color: beige;">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://siengvan.cdn.vccloud.vn/wp-content/uploads/2017/06/pho%CC%80ng-tro%CC%A3-%C4%91a%CC%80-na%CC%86%CC%83ng.png" height="500px">
                        </div>
                        <div class="carousel-item" *ngFor="let file of Files">
                            <img class="d-block w-100" [src]="getImage(file.fileId)" height="500px">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <mat-card-content style="margin-top: 10px;">
                    <b>
                        <h3 style="color: blue;">Tiêu Đề: {{Title}}</h3>
                    </b>
                    <b>
                        <h5 style="color: red;">Giá: {{Price}}Đ</h5>
                    </b>
                    <b>
                        <h5 style="color: red;">Liên Lạc: {{Contact}}</h5>
                    </b>
                    <b>
                        <h5 style="max-width: 300px;">Mô Tả: {{Description}}</h5>
                    </b>
                    <b>
                        <h5>Đại Chỉ: {{Address}}</h5>
                    </b>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>