<div class="main-content" style="margin-top: 100px;">
    <div class="container-fluid  justify-content-center row">
        <div class="col-md-9">
            <form [formGroup]="personaledit" class="row">
                <div class="col-md-3">
                    <div class="card card-profile avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept="image/*" (change)="onSelectFile($event)" formControlName="image" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="card-avatar avatar-preview">
                            <img class="img" [src]="urls" />
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">Edit Profile</h4>
                            <p class="card-category">Complete your profile</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="col-md-12">
                                        <input matInput placeholder="name" formControlName="name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="col-md-12">
                                        <input matInput placeholder="Email address" type="email" formControlName="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="col-md-12">
                                        <input matInput placeholder="Phone" type="text" formControlName="phone">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Birth Day" aria-disabled="true" formControlName="birthday">
                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button *ngIf="check==true" mat-raised-button type="submit" class="btn btn-danger" (click)="Update()">Cập Nhật
                                Thông Tin</button>
                            <button *ngIf="check!=true" mat-raised-button type="submit" class="btn btn-danger" disabled><span
                                    class="spinner-border spinner-border-sm"></span> Cập Nhật Thông Tin</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>