@import "../../../../../../node_modules/material-dashboard/assets/css/material-dashboard.css";
.avatar-upload {
    position: relative;
}

.avatar-upload .avatar-edit {
    position: absolute;
    z-index: 1;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    margin-left: 60%;
    width: 150px;
    height: 85px;
    cursor: pointer;
    border-radius: 100px;
}

.avatar-upload .avatar-preview {
    width: 190px;
    height: 190px;
    position: relative;
}

.avatar-upload .avatar-preview>img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}