<div class="container" style="padding: 100px 0px 50px 0px;">
    <div class="justify-content-center row">
        <div class="col-md-12 col-12 row">
            <mat-card class="box-shadow">
                <mat-card-header>
                    <h5 style="font-weight: bold;">ĐĂNG BÀI</h5>
                </mat-card-header>
                <mat-card-content>
                    <mat-vertical-stepper class="justify-content-center col-md-12" [linear]="true" #stepper>
                        <mat-step [stepControl]="Image">
                            <form class="row" [formGroup]="Image">
                                <ng-template matStepLabel>
                                    <span style="font-variant: small-caps;">Chọn ảnh</span>
                                </ng-template>
                                <div class="col-md-12 col-12 justify-content-center">
                                    <div class="row col-md-12">
                                        <div *ngFor="let url of fileUrls; let i = index" class="col-md-3 col-3 loadimage">
                                            <mat-icon style="position: absolute; display: none;background-color: gray;" (click)="deleteFile(i)">close</mat-icon>
                                            <img style="height: 160px;width: 170px;border: inset 1px;border-color: white;" [src]="url.imgUrl">
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="fileUrls.length > 0" style="background-color:dimgrey; width: 100%;">
                                <div>
                                    <input type='file' #inputfile style="display: none;" formControlName="image" accept="image/*" (change)="onSelectFile($event)" multiple />
                                    <button mat-raised-button (click)="inputfile.click()" class="btn btn-info" style="margin-right: 10px;">Chọn
                                        ảnh</button>
                                    <button mat-raised-button *ngIf="fileUrls.length > 0" matStepperNext class="btn btn-info">Tiếp theo</button>
                                </div>
                                <input style="display: none;" type="number" [(ngModel)]="fileUrls.length" formControlName="lengthImg" />
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="Content">
                            <form [formGroup]="Content">
                                <ng-template matStepLabel>
                                    <span style="font-variant: small-caps;">Nội dung</span>
                                </ng-template>
                                <div class="col-md-12 col-12 justify-content-center row">
                                    <div class="card col-md-12">
                                        <div class="card-body">

                                            <div class="col-md-12 col-12 row">
                                                <mat-form-field class="col-md-12 col-12">
                                                    <input formControlName="tite" matInput placeholder="Tiêu Đề">
                                                </mat-form-field>
                                                <mat-form-field class="col-md-6 col-12">
                                                    <input type="number" formControlName="number" matInput placeholder="Số nhà">
                                                </mat-form-field>
                                                <mat-form-field class="col-md-6 col-12">
                                                    <mat-label>Đường</mat-label>
                                                    <input formControlName="street" matInput placeholder="Tên Đường">
                                                </mat-form-field>
                                                <mat-form-field class="col-md-6 col-12">
                                                    <mat-label>Phường</mat-label>
                                                    <mat-select formControlName="ward">
                                                        <mat-option>-- None --</mat-option>
                                                        <mat-option value="option">Option</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field class="col-md-6 col-12">
                                                    <mat-label>Quận</mat-label>
                                                    <mat-select formControlName="county">
                                                        <mat-option>-- None --</mat-option>
                                                        <mat-option value="option">Option</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field class="col-md-6 col-12">
                                                    <input type="number" formControlName="price" matInput placeholder="Giá">
                                                </mat-form-field>
                                                <mat-form-field class="col-md-6 col-12">
                                                    <input formControlName="connection" matInput placeholder="Liên lạc">
                                                </mat-form-field>
                                                <mat-form-field class="col-md-12 col-12">
                                                    <textarea formControlName="description" matInput placeholder="Mô tả"></textarea>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 20px;">
                                    <button mat-raised-button matStepperPrevious class="btn btn-info">
                                        Trở lại</button>&nbsp;&nbsp;
                                    <button mat-raised-button matStepperNext class="btn btn-info">Tiếp theo</button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <span style="font-variant: small-caps;">Xác nhận</span>
                            </ng-template>
                            Xác nhận đăng bài ngay bây giờ
                            <div style="margin-top: 20px;">
                                <button mat-raised-button matStepperPrevious class="btn btn-info">Trở lại</button>
                                <button *ngIf="check==true" style="float: right;" mat-raised-button class="btn btn-info" (click)="addpost()">ĐĂNG
                                    BÀI</button>
                                <button *ngIf="check!=true" style="float: right;color: white;" mat-raised-button class="btn btn-info" disabled><span class="spinner-border spinner-border-sm"></span> ĐĂNG
                                    BÀI</button>
                            </div>
                        </mat-step>
                    </mat-vertical-stepper>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>