.box-shadow {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.loadimage {
    padding: 10px;
}

.loadimage:hover mat-icon {
    cursor: pointer;
    display: block !important;
}

.white-icon svg {
    fill: white;
}

.white-icon {
    font-size: 25px;
    margin: 0 10px 0 0;
    color: white;
}