<mat-card *ngFor="let Post of Post" style="margin-top: 30px;" class="col-md-12 col-12">
    <mat-card-header>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink='/home/personalview/postedit'>
                <mat-icon>edit</mat-icon>
                <span>Chỉnh Sửa</span>
            </button>
            <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Xóa</span>
            </button>
        </mat-menu>
        <mat-card-title>
            <b style="color: black;">
                <span *ngIf="Post.Title.length > 20">{{Post.Title.substring(0, 20)}}...</span>
                <span *ngIf="Post.Title.length <= 20">{{Post.Title}}</span>
            </b>
        </mat-card-title>
        <mat-card-subtitle>{{Post.Price}} đ/Tháng</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getImage(Post.files[1].fileId)" alt="Photo of a Shiba Inu" height="300px">
    <mat-card-actions>
        <button [routerLink]="['/index/postdetail', Post._id]" mat-raised-button color="primary">Chi
            Tiết</button>
    </mat-card-actions>
</mat-card>