<form [formGroup]="home" style="margin-top: 60px;">
    <div class="justify-content-center row" style="background-color: beige;">
        <div class="justify-content-center row col-md-9 col-12">
            <mat-card class="col-md-12 col-12">
                <mat-card-header>
                    <mat-tab-group>
                        <mat-tab label="Mua Bán"></mat-tab>
                        <mat-tab label="Thuê"></mat-tab>
                    </mat-tab-group>
                </mat-card-header>
                <div>
                    <mat-form-field class="col-md-6 formGroup">
                        <input matInput placeholder="Search" formControlName="search">
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-select placeholder="Location" formControlName="location">
                            <mat-option *ngFor="let option of type" [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <mat-select placeholder="Category" formControlName="category">
                            <mat-option *ngFor="let option of type" [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </mat-card>
            <div class="col-md-12 row" style="margin-top: 3%;margin-bottom: 3%;">
                <div class="col-md-4 col-12" *ngFor="let Post of Post">
                    <mat-card style="margin-bottom: 10px;">
                        <mat-card-header>
                            <!-- <div mat-card-avatar><img class="rounded-circle" style="width: 99%;height: 99%;" [src]="getImage2(Post.IdUser)">
                            </div> -->
                            <mat-card-title>
                                <span *ngIf="Post.Title.length > 20">{{Post.Title.substring(0, 20)}}...</span>
                                <span *ngIf="Post.Title.length <= 20">{{Post.Title}}</span>
                            </mat-card-title>
                            <mat-card-subtitle><b>{{Post.Price}} đ/Tháng</b></mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image [src]="getImage(Post.files[1].fileId)" alt="Photo of a Shiba Inu" height="280px">
                        <mat-card-actions>
                            <a [routerLink]="['/index/postdetail', Post._id]"><button mat-raised-button color="primary">Chi Tiết</button></a>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</form>