<mat-toolbar>
    <button mat-button (click)="snav.toggle()" style="outline: none;">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: 100;"></span>
    <button mat-button [matMenuTriggerFor]="notifications" style="outline: none;">
        <mat-icon>notifications</mat-icon>
        Thông báo
    </button>
    <mat-menu #notifications xPosition="after">
        <li mat-menu-item>
            kkk
        </li>
    </mat-menu>
    <span style="flex: 3;"></span>
    <button mat-button style="outline: none;">
        <mat-icon>exit_to_app</mat-icon>
        Đăng xuất
    </button>
    <span style="flex: 50;"></span>
</mat-toolbar>
<router-outlet></router-outlet>