nav {
    background-color: white;
}

.dropdown-menu {
    margin-top: 2px;
    width: 300px;
}

.dropdown-item:hover {
    background-color: rgba(0, 98, 196, 0.78) !important;
    margin-left: 10px;
    width: 280px;
    color: white !important;
}

body {
    background-color: #1d1f20;
    color: #1d1f20;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgba(0, 98, 196, 0.78) !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgba(0, 98, 196, 0.78) !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgba(0, 98, 196, 0.78) !important;
}

.blue-icon {
    font-size: 25px;
    margin: 0 10px 0 0;
    color: rgba(0, 98, 196, 0.78);
}

.blue-icon svg {
    fill: rgba(0, 98, 196, 0.78);
}

.modal-body mat-form-field {
    width: 100%;
}

.modal-body mat-form-field input {
    margin-bottom: 5px;
}

.modal-c-tabs .nav {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: aqua;
}

.light-blue.darken-3 {
    background-color: #0277bd!important;
}

.md-tabs .nav-item .open .nav-link, .md-tabs .nav-link.active {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    transition: all 1s;
    border-radius: .25rem;
    border-color: rgba(0, 0, 0, 0)
}

.modal-dialog .cascading-modal .modal-c-tabs .md-tabs {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    margin: -1.5rem 1rem 0 1rem;
    display: flex;
}

.md-tabs {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: #2bbbad;
    z-index: 1;
    position: relative;
    border-radius: .25rem;
}

.md-tabs .nav-item .nav-link {
    color: #fff;
}

.modal-dialog {
    margin-top: 5%;
}

.btn-db {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: 1px solid red;
    display: block;
    width: 100%;
    height: 100%;
}

nav .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 538px;
}