<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light light-color scrolling-navbar">

    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="/">
        <img src="assets/img/logo.png" width="35px">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <button id="dropdownNotification" class="nav-link" mat-button (mouseenter)="mouseOverBell()" (mouseleave)="mouseOutBell()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <mat-icon id="bell" matBadge="15" matBadgeColor="warn" class="blue-icon">notifications</mat-icon>
                    Thông báo
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownNotification">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <button class="nav-link" routerLink="/index/user" mat-button (mouseenter)="mouseOverChat()" (mouseleave)="mouseOutChat()">
                    <mat-icon id="chat" class="blue-icon">message</mat-icon> Chat
                </button>
            </li>
            <li class="nav-item dropdown" *ngIf="!logged">
                <button mat-button (mouseenter)="mouseOverAccount()" (mouseleave)="mouseOutAccount()" class="nav-link" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <mat-icon id="account" class="blue-icon">account_circle</mat-icon> Tài khoản
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownAccount">
                    <a class="dropdown-item" data-toggle="modal" data-target="#modalLRForm">Đăng nhập / Đăng ký</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="logged">
                <button mat-button (mouseenter)="mouseOverAccount()" (mouseleave)="mouseOutAccount()" class="nav-link" id="dropdownAccountLogged" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <mat-icon id="account" class="blue-icon">account_circle</mat-icon> {{username}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownAccountLogged">
                    <a class="dropdown-item" routerLink="/index/personalview">Trang Cá Nhân</a>
                    <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button id="post" (mouseenter)="mouseOverPost()" (mouseleave)="mouseOutPost()" routerLink="/index/AddPost" style="background-color: rgba(0, 98, 196, 0.78); color: white; font-variant: small-caps;" mat-button class="nav-link">
                    Đăng bài
                </button>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar-->
<!-- login -->
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i
                                class="fas fa-user mr-1"></i>
                            Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i
                                class="fas fa-user-plus mr-1"></i>
                            Đăng ký</a>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 7-->
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body mb-1">
                            <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
                                <mat-form-field>
                                    <i class="fas fa-user blue-icon" matPrefix></i>
                                    <input matInput type="email" placeholder="Email" formControlName="email">
                                    <mat-error *ngIf="loginFormGroup.controls['email'].errors?.required">Vui lòng không để trống
                                    </mat-error>
                                    <mat-error *ngIf="loginFormGroup.controls['email'].errors?.pattern">Email không đúng định dạng
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <i class="fas fa-lock blue-icon" matPrefix></i>
                                    <input matInput type="password" placeholder="Mật khẩu" formControlName="password" autocomplete="off">
                                    <mat-error *ngIf="loginFormGroup.controls['password'].errors?.required">Vui lòng không để trống
                                    </mat-error>
                                    <mat-error *ngIf="loginFormGroup.controls['password'].errors?.minlength">Mật khẩu ít nhất 8 ký tự
                                    </mat-error>
                                </mat-form-field>
                                <div class="text-center mt-2">
                                    <button type="submit" class="btn btn-info" [disabled]="disableLogin || loginFormGroup.invalid">Đăng
                                        nhập <i class="fas fa-sign-in ml-1"></i></button>
                                </div>
                            </form>
                            <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">
                                hoặc Đăng nhập với:
                            </p>

                            <div class="flex-center">
                                <!--Facebook-->
                                <a class="fb-ic">
                                    <i class="fab fa-facebook-f fa-lg blue-text mr-md-5 mr-3  fa-2x"> </i>
                                </a>
                                <!-- Twitter -->
                                <a class="tw-ic">
                                    <i class="fab fa-twitter fa-lg blue-text mr-md-5 mr-3 fa-2x"> </i>
                                </a>
                                <!-- Google +-->
                                <a class="gplus-ic" [href]="loginGoogle()">
                                    <i class="fab fa-google-plus-g fa-lg red-text   fa-2x"> </i>
                                </a>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="options text-center text-md-right mt-1">
                                <p>Quên <a href="#" class="blue-text">Mật khẩu?</a></p>
                            </div>
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Đóng</button>
                        </div>

                    </div>
                    <!--/.Panel 7-->

                    <!--Panel 8-->
                    <div class="tab-pane fade" id="panel8" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body">
                            <form [formGroup]="firstFormGroup" *ngIf="!register" (ngSubmit)="sendMailVerify()">
                                <mat-form-field>
                                    <mat-icon class="blue-icon" matPrefix>email</mat-icon>
                                    <input matInput type="email" placeholder="Email" formControlName="email">
                                    <mat-error *ngIf="firstFormGroup.controls['email'].errors?.required">Vui lòng không để trống
                                    </mat-error>
                                    <mat-error *ngIf="firstFormGroup.controls['email'].errors?.pattern">Email không đúng định dạng
                                    </mat-error>
                                </mat-form-field>
                                <div class="text-center form-sm mt-2">
                                    <button type="submit" class="btn btn-info" [disabled]="disableSenMail || firstFormGroup.invalid">Nhận
                                        mã xác thực</button>
                                </div>
                            </form>
                            <form [formGroup]="secondFormGroup" *ngIf="register" (ngSubmit)="verification()">
                                <mat-form-field>
                                    <i class="fas fa-user blue-icon" matPrefix></i>
                                    <input matInput placeholder="Nhập tên" formControlName="name">
                                    <mat-error *ngIf="secondFormGroup.controls['name'].errors?.required">Vui lòng không để trống
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-icon class="blue-icon" matPrefix>verified_user</mat-icon>
                                    <input matInput placeholder="Mã xác nhận" formControlName="verification">
                                    <mat-error *ngIf="secondFormGroup.controls['verification'].errors?.required">Vui lòng không để trống
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <i class="fas fa-lock blue-icon" matPrefix></i>
                                    <input matInput type="password" placeholder="Mật khẩu" formControlName="password">
                                    <mat-error *ngIf="secondFormGroup.controls['password'].errors?.required">Vui lòng không để trống
                                    </mat-error>
                                    <mat-error *ngIf="secondFormGroup.controls['password'].errors?.minlength">Mật khẩu ít nhất 8 ký tự
                                    </mat-error>
                                </mat-form-field>
                                <div class="text-center form-sm mt-2">
                                    <button type="submit" class="btn btn-info" [disabled]="disableRegister || secondFormGroup.invalid">Đăng ký <i
                                            class="fas fa-sign-in ml-1"></i></button>
                                </div>
                            </form>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                    <!--/.Panel 8-->
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->