<mat-sidenav-container>
    <mat-sidenav #snav [opened]="screenWidth > 700" [mode]="(screenWidth > 700) ? 'side' : 'over'">
        <app-menuadmin></app-menuadmin>
    </mat-sidenav>
    <mat-sidenav-content id="sidenav-content">
        <app-bodyadmin [snav]="snav"></app-bodyadmin>
    </mat-sidenav-content>
</mat-sidenav-container>