<div align="center" style="margin: 20px 0;">
    <h5>Admin</h5>
    <img src="../../../assets/img/logo.png" align="center" style="border-radius: 50%;" width="100px" />
</div>
<mat-list>
    <mat-list-item>
        <button mat-raised-button routerLink="/Admin/AddPost" [routerLinkActive]="['active']">
            <mat-icon>account_box</mat-icon>
            Người dùng
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button routerLink="/user/b" [routerLinkActive]="['active']">
            Hello
        </button>
    </mat-list-item>
</mat-list>