<div class="main-content" style="margin-top: 100px;">
    <div class="container-fluid justify-content-center row">
        <div class=" col-md-9 row">
            <div class="col-md-4 col-12">
                <div class="card card-profile avatar-upload">
                    <div class="card-avatar avatar-preview">
                        <a>
                            <img class="img" [src]="getImage(image)" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-category text-gray">{{name}}</h3>
                        <p class="card-description">Email: {{email}}
                        </p>
                        <p class="card-description">Sđt: {{phone}}
                        </p>
                        <h6 class="card-title">Ngày Đăng ký: {{dateRegister | date:'MM.dd.yyyy' }}</h6>
                        <button mat-raised-button class="btn btn-info" routerLink="/index/personaledit">
                            <mat-icon>edit</mat-icon> chỉnh sửa
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-12 row">
                <div class="card col-md-12" style="background-color: beige;">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Hồ Sơ</h4>
                        <p class="card-category">Hồ Sơ người dùng</p>
                    </div>
                    <div class="card-body col-md-12" style="background-color: beige;">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>