@import "../../../../../../node_modules/material-dashboard/assets/css/material-dashboard.css";
.avatar-upload {
    position: relative;
}

.avatar-upload .avatar-preview {
    width: 190px !important;
    height: 190px !important;
    position: relative;
}

.avatar-upload .avatar-preview>img {
    width: 100% !important;
    height: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}