#conversation {
    position: fixed;
    bottom: 30px;
    border: none;
    box-shadow: 7px 0 6px -4px gray, -7px 0 5px -4px gray;
    width: 90%;
    display: none;
    border-radius: 15px 15px 0 0;
}

@media only screen and (min-width: 700px) {
    #conversation {
        width: 50% !important;
        top: 90px;
        left: 10%;
    }
    #input-message {
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 700px) {
    #input-message {
        position: fixed;
        left: 0;
        bottom: 0;
    }
    #conversation {
        left: 5%;
    }
}

#conversation .card-header {
    background-color: white !important;
    color: black;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 1px 5px gray, 0px -1px 5px gray;
}

#conversation .content {
    width: 100%;
    padding: 0px 0px 20px 0px;
    margin: 0px;
}

#conversation .md-addon span {
    font-weight: bold;
}

#conversation .content ul {
    overflow-y: scroll;
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 0px;
}

#conversation .content ul div {
    clear: both;
    text-decoration: none;
    word-wrap: break-word;
    color: #444444;
    text-align: left;
}

#conversation .content ul li {
    clear: both;
    text-decoration: none;
    list-style-type: none;
    margin: 20px 10px 0px 30px;
    float: left;
    margin-right: 20px;
    padding: 10px;
    max-width: 70%;
    border-radius: 20px;
    line-height: 1.4;
    word-wrap: break-word;
    color: #444444;
    text-align: left;
    background-color: lightgray;
}

#conversation .content ul li img {
    width: 100%;
    height: 100%;
}

#conversation .align-right {
    float: right !important;
    text-align: right;
    background-color: lightblue !important;
}

div#typing {
    display: none;
    position: relative;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

div#typing .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 3px;
    background: gray;
    animation: typing 0.6s linear infinite;
}

div#typing .dot:nth-child(2) {
    animation-delay: -1.1s;
}

div#typing .dot:nth-child(3) {
    animation-delay: -0.9s;
}

@keyframes typing {
    0%, 60%, 100% {
        transform: initial;
    }
    30% {
        transform: translateY(-7px);
    }
}

ul table td:hover mat-icon {
    display: block !important;
}

.card-footer {
    border: none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: rgba(0, 98, 196, 0.78) !important;
    padding: 0 10px;
}

.card-footer mat-icon {
    margin: 0%;
    padding-top: 10px;
    cursor: pointer;
}

.white-icon {
    color: white;
}

.white-icon svg {
    fill: white;
}

.card-footer textarea {
    text-align: left;
    background-color: white;
    overflow: hidden;
    resize: none;
    border: none;
    padding: 10px;
    outline: none;
    width: 95%;
    font-weight: bolder;
}

.textNull {
    margin-top: 40px !important;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgba(0, 98, 196, 0.78);
}