<div *ngIf="messages == undenfined">
    <h4 align="center" style="margin-top: 100px;">Hãy chọn một người nào đó để nhắn tin</h4>
</div>
<div id="conversation" class="card border-primary">
    <div class="card-header">
        <img width="30" style="border-radius: 50%; margin-right: 5px;" height="30"
            src="../../../../../assets/img/bg-search.jpg" />
        {{toUsername}}
        <div style="float: right;">
            <i class="fas fa-cog fa-lg" style="cursor: pointer; color: rgba(0, 98, 196, 0.78); margin-right: 20px;"
                [matMenuTriggerFor]="settings"></i>
            <mat-menu #settings xPosition="after">
                <button mat-menu-item (click)="deleteMessages()" style="outline: none;">Xóa cuộc trò chuyện</button>
                <button mat-menu-item style="outline: none;">Chặn người này</button>
            </mat-menu>
            <i class="fas fa-times fa-lg" style="cursor: pointer; color: rgba(0, 98, 196, 0.78); margin-bottom: -100px;"
                (click)="closeConversation()"></i>
        </div>
    </div>
    <div id="content-phone" class="content card-body">
        <ul id="scrollBottom">
            <div style="height: 100%; text-align: center; padding: 30px 0;">
                <img width="50" style="border-radius: 50%; margin-bottom: 10px;" height="50"
                    src="../../../../../assets/img/bg-search.jpg" /><br />
                <a style="font-weight: bold;">{{toUsername}}</a>
            </div>
            <div *ngFor="let day of dates">
                <div style="text-align: center; margin-top: 10px; font-size: 10px; color: grey;">
                    {{day | date: 'dd/MM/yyyy'}},
                    {{
                    (day | date: 'EE') == 'Mon' ? 'T2'
                    : (day | date: 'EE') == 'Tue' ? 'T3'
                    : (day | date: 'EE') == 'Wed' ? 'T4'
                    : (day | date: 'EE') == 'Thu' ? 'T5'
                    : (day | date: 'EE') == 'Fri' ? 'T6'
                    : (day | date: 'EE') == 'Sat' ? 'T7'
                    : 'CN'
                    }}
                </div>
                <div *ngFor="let message of messages">
                    <div class="md-form">
                        <li style="width: auto !important;"
                            *ngIf="message.message.text !== '' && (message.date | date: 'dd/MM/yyyy') == (day | date: 'dd/MM/yyyy')"
                            [class.align-right]="message.fromUserId == encodeUserId"
                            matTooltip="{{message.date | date: 'hh:mm'}}&#13;{{message.message.files.length == 0 && watched == message.time ? 'Đã xem': ''}}"
                            matTooltipClass="allow-cr" matTooltipPosition="right">
                            {{message.message.text}}
                            <div *ngIf="message.message.files.length == 0 && watched == message.time"
                                style="width: 15px; height: 15px; float: right; position: relative; right: -28px;">
                                <img width="15" style="border-radius: 50%;" height="15"
                                    src="../../../../../assets/img/bg-search.jpg" />
                            </div>
                        </li>
                        <div class="prefix"
                            *ngIf="message.fromUserId != encodeUserId && (message.date | date: 'dd/MM/yyyy') == (day | date: 'dd/MM/yyyy')">
                            <img width="20" [class.textNull]="message.message.text == ''"
                                style="border-radius: 50%; margin: 10px 0 0 5px;" height="20"
                                src="../../../../../assets/img/bg-search.jpg" />
                        </div>
                    </div>
                    <div
                        *ngIf="message.message.files.length > 0 && (message.date | date: 'dd/MM/yyyy')  == (day | date: 'dd/MM/yyyy')">
                        <li *ngFor="let file of message.message.files; let last = last"
                            [class.align-right]="message.fromUserId == encodeUserId"
                            matTooltip="{{message.date | date: 'hh:mm'}}&#13;{{message.message.files.length > 0 && watched == message.time && last ? 'Đã xem' : ''}}"
                            matTooltipClass="allow-cr" matTooltipPosition="right">
                            <img *ngIf="containFileImg(file.fileType)" [src]="viewImage(file.fileId)"
                                alt="Ảnh bị lỗi" />
                            <img *ngIf="!containFileImg(file.fileType)" src="../../../../../assets/img/file.png"
                                style="width: 20px !important;" alt="Ảnh bị lỗi" />
                            <a *ngIf="!containFileImg(file.fileType)"
                                (click)="downloadFile(file.fileId,file.fileName)">{{file.fileName}}</a>
                            <div *ngIf=" message.message.files.length> 0 && watched == message.time && last"
                                style="width: 15px; height: 15px; float: right; position: relative; right: -28px;">
                                <img width="15" style="border-radius: 50%;" height="15"
                                    src="../../../../../assets/img/bg-search.jpg" />
                            </div>
                        </li>
                    </div>
                </div>
            </div>
            <div id="typing">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div *ngIf="fileUrls.length != 0" class="container" style="border-top: 1px solid gray;">
                <table class="table-responsive">
                    <tr>
                        <td *ngFor="let url of fileUrls; let i = index">
                            <div class="md-form input-group mb-3" style="margin: 0;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text md-addon">
                                        <img [src]="url.imgUrl != '' ? url.imgUrl : '../../../../../assets/img/file.png'"
                                            class="rounded mb-3" width="30" height="30" alt="No">
                                    </span>
                                </div>
                                <div class="md-addon" style="width: 100px; height: 50px;">
                                    <span>{{url.file.name.substring(url.file.name.lastIndexOf('.') + 1, url.file.name.length).toUpperCase()}}</span>
                                    <br />
                                    <span *ngIf="url.file.name.length > 10">{{url.file.name.substring(0, 10)}}...</span>
                                    <span *ngIf="url.file.name.length <= 10">{{url.file.name}}</span>
                                </div>
                                <mat-icon
                                    style="font-size: 20px; cursor: pointer; position: absolute; top: 0px; right: 2px; display: none;"
                                    (click)="deleteFile(i)">close</mat-icon>
                            </div>
                            <mat-progress-bar mode="indeterminate"
                                [style.display]="i == 0 && uploading ? 'block' : 'none'">
                            </mat-progress-bar>
                        </td>
                    </tr>
                </table>
            </div>
        </ul>
    </div>

    <div id="input-message" class="card-footer">
        <form align="center" [formGroup]="messageForm">
            <table>
                <tr>
                    <td align="center">
                        <input hidden type="file" #fileInput multiple formControlName="files"
                            (change)="detectFiles($event.target.files)" />
                        <mat-icon class="white-icon" (click)="fileInput.click()">
                            attach_file
                        </mat-icon>
                    </td>
                    <td style="width: 100%;">
                        <textarea appDragdrop (onFileDropped)="detectFiles($event)" matInput rows="1"
                            placeholder=" Nhập tin nhắn" (keyup)="submitMessageForm($event)" formControlName="message"
                            autofocus (focus)="onKeyFocus()"></textarea>
                    </td>
                    <td align="top">
                        <mat-icon class="white-icon" (click)="sendMessage()">send</mat-icon>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>