/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    font-family: Arial, Helvetica, sans-serif;
}

.allow-cr {
    white-space: pre;
}