.sidenav-container {
    height: auto;
    background-color: white;
}

@media only screen and (min-width: 700px) {
    #list-user-online {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #list-user-online {
        display: block;
    }
}

mat-sidenav {
    border: 1px solid lightgray;
}

.blue-icon {
    font-size: 30px;
    color: rgba(0, 98, 196, 0.78) !important;
}

.blue-icon svg {
    fill: rgba(0, 98, 196, 0.78) !important;
}

#list-user-online {
    position: fixed;
    top: 65px;
    right: 10px;
}

::ng-deep .mat-form-field-label {
    padding-left: 10px !important;
    color: rgba(0, 98, 196, 0.78) !important;
}

::ng-deep.mat-form-field-underline {
    background-color: rgba(0, 98, 196, 0.78) !important;
}