<div style="height: 60px;"></div>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav id="sidenav" [opened]="screenWidth > 700" [mode]="(screenWidth > 700) ? 'side' : 'over'"
        position="end" [fixedInViewport]="fixedInViewport" [fixedTopGap]="65" [fixedBottomGap]="0">
        <mat-form-field floatLabel="never" style="width: 100%;">
            <input matInput style="padding: 0% 10px;" [(ngModel)]="searchText" placeholder="Tìm kiếm">
        </mat-form-field>
        <app-list [searchText]="searchText" (click)="screenWidth > 700 ? '' : snav.close()"></app-list>
    </mat-sidenav>
    <mat-sidenav-content id="sidenav-content">
        <button [style.display]="screenWidth > 700 ? 'none': 'block'" (click)="snav.toggle()"
            style="float: right; outline: none;" mat-icon-button>
            <mat-icon id="list-online" class="blue-icon">
                swap_horizontal_circle</mat-icon>
        </button>
        <app-conversation></app-conversation>
    </mat-sidenav-content>
</mat-sidenav-container>