<mat-nav-list *ngIf="chatListUsersOnline.length > 0">
    <mat-list-item *ngFor="let user of chatListUsersOnline | filter : searchText"
        [class.active]="isUserSelected(user._id)" (click)="selectedUser(user)">
        <div class="img_cont">
            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
            <span class="online_icon"></span>
            <span class="user_info">{{user.name}}</span>
        </div>
    </mat-list-item>
</mat-nav-list>
<hr *ngIf="chatListUsersOffline.length > 0 && chatListUsersOnline.length > 0" />
<mat-nav-list *ngIf="chatListUsersOffline.length > 0">
    <mat-list-item *ngFor="let user of chatListUsersOffline | filter : searchText"
        [class.active]="isUserSelected(user._id)" (click)="selectedUser(user)">
        <div class="img_cont">
            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
            <span *ngIf="user.isOnline" class="online_icon"></span>
            <span class="user_info">{{user.name}}</span>
        </div>
    </mat-list-item>
</mat-nav-list>
<mat-spinner
    [style.display]="searchText != null && searchText != '' && searchText != undefined && loading ? 'block' : 'none'"
    style="margin: auto;" diameter="20"></mat-spinner>
<mat-nav-list *ngIf="allUserFollowing && searchText != null && searchText != '' && searchText != undefined && !loading">
    <mat-list-item *ngFor="let user of allUserFollowing | filter : searchText" [class.active]="isUserSelected(user._id)"
        (click)="selectedUser(user)">
        <div class="img_cont">
            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
            <span class="user_info">{{user.name}}</span>
        </div>
    </mat-list-item>
</mat-nav-list>