.user_img {
	height: 40px;
	border: 1.5px solid #f5f6fa;
}

.img_cont {
	position: relative;
	height: 42px;
	width: 100%;
}

.online_icon {
	position: absolute;
	height: 10px;
	width: 10px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	left: 1.6em;
	border: 1.5px solid white;
}

.user_info {
	margin-left: 10px;
}

.user_info span {
	font-size: 15px;
}

.user_info p {
	font-size: 8px;
}

.active {
	background-color: lightgray;
}